/* styles.css - Arquivo de Estilos */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#paragrafo {
    font-size: 16px;
    color: #666;
}

.div1 {
    width: 300pt;
    height: 300pt;
    background-color: azure;
}

.div2 {
    width: 200pt;
    height: 200pt;
    background-color: yellowgreen;
}

.div3 {
    width: 100pt;
    height: 100pt;
    background-color: darkcyan;
    color: azure;
}